@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetbrainsBold";
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsExtraBold";
  src: url("../assets/fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
