annotated-types==0.7.0
anyio==4.8.0
certifi==2025.1.31
click==8.1.8
colorama==0.4.6
exceptiongroup==1.2.2
fastapi==0.115.8
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
image-geometry==3.2.1
iniconfig==2.0.0
pydantic==2.10.6
pydantic_core==2.27.2
pytest==8.3.4
pytest-asyncio==0.25.3
pytest-mock==3.14.0
python-qt-binding==1.1.2
PyYAML==6.0.2
rpyutils==0.2.1
starlette==0.45.3
tomli==2.2.1
turtlesim==1.4.2
typing_extensions==4.12.2
unique-identifier-msgs==2.2.1
uvicorn==0.34.0
